<!DOCTYPE html>
<!-- thymeleafを使うためのhtmlタグ -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
　　<meta charset="UTF-8">
　　<link th:href="@{/css/index.css}" rel="stylesheet">
　　<title th:text="${title}"></title>
</head>
<body>
  <div class="header">
  	<div class="button">
  		<a href="#">ログイン</a>
  		<a href="#">新規登録</a>
  		<a href="#">マイページ</a>
  	</div>
  </div>
 <th:block th:if="${!(getLogin == false)}">
   <table>
	<tr>
		<th>email</th><th>password</th>
	</tr>
	<tr>		
		<td th:text="${getLogin.mail}"></td>
		<td th:text="${getLogin.password}"></td>
	</tr>
　　</table> 
</th:block>
 <th:block th:if="${getLogin == false}">
  <table>
	<tr>
		<th>id</th><th>name</th><th>email</th><th>contents</th><th>datetime</th>
	</tr>
	<tr th:each="user : ${userList}">
		<td th:text="${user.id}"></td>
		<td th:text="${user.nickname}"></td>
		<td th:text="${user.mail}"></td>
		<td th:text="${user.password}"></td>
	</tr>
　　</table>
</th:block>
 <!--  -->
 

</body>
</html>
