<!DOCTYPE html>
<!-- thymeleafを使うためのhtmlタグ -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
　　<meta charset="UTF-8">
　　<link th:href="@{/css/index.css}" rel="stylesheet">
　　<title th:text="${title}"></title>
</head>
<body>
 <p th:text="${isEmpty}"></p> <!--  -->
  
  <div class="header">
  	<div class="button">
  		<th:block th:unless="${getLogin}">
	  		<a href="login">ログイン</a>
	  		<a href="nuser">新規登録</a>
	  	</th:block>
  		<th:block th:if="${getLogin}">
  			<a href="mypage" th:text="${getLogin.nickname}"></a>
  			<a href="#">ログアウト</a>
  		</th:block>
  	</div>
  </div>
 <!-- ↓いずれ消すやつ↓ -->
 <th:block th:if="${getLogin}">
   <table>
	<tr>
		<th>ニックネーム</th><th>メールアドレス</th><th>パスワード</th>
	</tr>
	<tr>
		<td th:text="${getLogin.nickname}"></td>		
		<td th:text="${getLogin.mail}"></td>
		<td th:text="${getLogin.password}"></td>
	</tr>
　　</table>
<!-- ↑いずれ消すやつ↑ -->
</th:block> <!--  -->
 <th:block th:unless="${getLogin}">
  <table>
	<tr>
		<th>id</th><th>name</th><th>email</th><th>contents</th><th>datetime</th>
	</tr>
	<tr th:each="user : ${userList}">
		<td th:text="${user.id}"></td>
		<td th:text="${user.nickname}"></td>
		<td th:text="${user.mail}"></td>
		<td th:text="${user.password}"></td>
	</tr>
　　</table>
</th:block>
 <!--  -->
 

</body>
</html>
