<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

	<link th:href="@{/css/index.css}" rel="stylesheet">
　	<title th:text="${title}">ログイン画面</title>
</head>
<body>
	<h1>ログイン画面</h1>
	<p th:text="*{error}"></p>
	
	<!-- ↓↓↓↓↓↓　トップページ（index）に送るフォーム　↓↓↓↓↓↓↓ -->
	<th:block th:if="${loginForm}">
		<form method="post" action="#" th:action="@{/furicari/index}" th:object="${loginForm}">	
		
			<!-- メールアドレス入力フォーム -->	
			<p th:text="${Mail}"></p>
			<label for="mail">mail:</label>
			<p th:text="${notMail}"></p>
			<input id="mail" name="mail" type="text" th:value="*{mail}"><br>
			<div th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></div>
			
			<!-- パスワード入力フォーム -->
			<label for="password">password:</label>
			<p th:text="${nullPassword}"></p>
			<input name="password" id="password" th:field="*{password}"><br>
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
			
			<!-- ログインボタン -->
			<input type="submit" value="ログイン">
		</form>
	</th:block>
   <!-- ↑↑↑↑↑↑↑　トップページ（index）に送るフォーム　↑↑↑↑↑↑↑ -->
   
</body>
</html>