<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

	<link th:href="@{/css/index.css}" rel="stylesheet">
　	<title th:text="${title}">ログイン画面</title>
</head>
<body>
	<h1>ログイン画面</h1>
	
	
	<!-- ↓↓↓↓↓↓　トップページ（index）に送るフォーム　↓↓↓↓↓↓↓ -->
	<th:block th:if="${loginForm}">
		<form method="post" action="#" th:action="@{/furicari/index}" th:object="${loginForm}">		
			<label for="mail">mail:</label>
			<input id="mail" name="mail" type="text" th:value="*{mail}"><br>
			<div th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></div>
			
			<label for="password">password:</label>
			<textarea name="password" id="password" rows="2" cols="20" th:field="*{password}"></textarea><br>
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
			<input type="submit" value="ログイン">
		</form>
	</th:block>
   <!-- ↑↑↑↑↑↑↑　トップページ（index）に送るフォーム　↑↑↑↑↑↑↑ -->
</body>
</html>