<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/mypage.css}" rel="stylesheet">
<title th:text="FuriCari- + ${title}">Insert title here</title>
</head>
<body>
　　<div class="main">
	<h1 th:text="FuriCari- + ${title}"></h1>
	<h2 th:text="${complete}"></h2>
	<a href="index">TOPページ</a>
	
	<div th:object="${userForm}">
	<table class="form" border="1" cellpadding="30" cellspacing="0">
	  <tr>
	    <td>ユーザー名</td>
	    <td type="text" name="name" th:text="*{nickname}"></td>
	  </tr>
	  <tr>
	    <td>メールアドレス</td>
	    <td type="text" name="mail" th:text="*{mail}"></td>
	  </tr>
	  <tr>
	    <td>パスワード</td>
	    <td type="text" name="password" th:text="*{password}"></td>
	  </tr>
	</table>
	<a href="user-update">ユーザー情報の更新</a>
	
    </div>
  </div>
</body>
</html>