<!DOCTYPE html>
<!-- thymeleafを使うためのhtmlタグ -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
　　<meta charset="UTF-8">
　　<link th:href="@{/css/nuser.css}" rel="stylesheet">
　　<title th:text="${title}"></title>
</head>
<body>
	<h1>新規登録</h1>
    <p>ユーザー名<br>
    <input type="text" name="name"></p>
    <p>メールアドレス<br>
    <input type="text" name="mail"></p>
    <p>パスワード<br>
    <input type="text" name="password"></p>

	<button class="send styled"type="button">
    	送信する
	</button>

</body>
</html>